<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Registrar Sucursal</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <br>
    <table class="example-full-width" cellspacing="0" width="100%">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Codigo</mat-label>
            <input matInput placeholder="Codigo Sucursal."  [(ngModel)]="sucursal.codSucursal" readonly>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre Sucursal." [(ngModel)]="sucursal.nombre" >
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <button mat-flat-button color="primary" (click)="registrar()" *ngIf="!sucursal.codSucursal else elseBlock">Registrar</button>&nbsp;
          <ng-template #elseBlock>
            <button mat-flat-button color="primary" (click)="actualizar()" >Actualizar</button>&nbsp;
          </ng-template>
          <button mat-flat-button color="accent" routerLink="/sucursal">Regresar</button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>






